$breakpoints: (
    'sm':375px,
    'md':768px,
    'lg':1100px,
    'xl':1440px,
);

$colors:(
 'bodyColor':#393646,
 'textColor':white,
 'bodyPartColor': #4F4557,
 'accentColor':#FFBC1E,
 'darkAccentColor':#bf8b13,
 'lightHeaderColor':#6D5D6E,
 'hoverColor':#594c5a,
 'darkBtnPurple':#0F0A29,
 'lightBtnPurple':#1C124A,
);

$main-font: 'TiktokSans';

$font-weights: (
    'Regular': 400,
    'Medium': 500,
    'Bold': 700,
);