@use "../utils/variables" as var;


$fonts: var.$font-weights;

@each $key, $value in $fonts {
    @font-face {
        font-family: 'TiktokSans';
        src: url('../../fonts/TiktokSans-#{$key}.ttf') format('truetype');
        font-weight: $value;
        font-style: normal;
        font-disply: swap;
    }
}