@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.page{
    display: grid;
    grid-template-areas:
    'header'
    'sidebar'
    'main';
    padding: 20px;

    @include mx.mediaQuery('md'){
        width: 700px;
        height: 80vh;
        margin: 30px auto;

        background-color: fn.get-color('bodyPartColor');
        border-radius: 20px;

        grid-template-columns: 248px 1fr;
        grid-template-rows: 68px 1fr;
        grid-template-areas:
        'sidebar header'
        'sidebar main';
    }


    @include mx.mediaQuery('lg'){
     width: 1000px;
    }

    @include mx.mediaQuery('lg') {
     width: 1000px;
     background-color: fn.get-color('bodyPartColor');
     grid-template-columns: 280px 1fr;
    }
}